<p id="notice"><%= notice %></p>

<p>
  <b>Role:</b>
  <%= @permission.role_id %>
</p>

<p>
  <b>Permission type:</b>
  <%= @permission.permission_type_id %>
</p>

<p>
  <b>Enabled:</b>
  <%= @permission.enabled %>
</p>


<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
